{% extends 'admin/adminNav.html.twig' %}

{% block title %}Les devis{% endblock %}

{% block body %}

<div class="tabAccueil">

    <h1>Devis</h1>
    <div class="card-body">
        <div class="table-responsive ">
            <table class="table table-striped-columns">        
                <thead> 
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>email</th>
                        <th>date</th>
                        <th>date de retour</th>
                        <th>livraison</th>
                        <th>Lieu</th>
                        <th>Commande</th>
                    </tr> 
                </thead>
                <tbody>
                {% for devis in deviss %}
                    <tr>
                        <td>{{devis.name}}</td>
                        <td>{{devis.lastName}}</td>
                        <td>{{devis.email}}</td>
                        <td>{{devis.date|date("H:i")}}</td>
                        <td>{{devis.dateFin|date("H:i")}}</td>
                        <td>{{devis.livraison}}</td>
                        <td>{{devis.lieu}}</td>
                        <td>{{devis.commande|nl2br}}</td>
                        <th>
                            <button type="button" class="btn btn-primary">
                                <a href="{{ path("admin-devis-edit", {id:devis.id}) }}" type="button">Modifier</a>
                            </button>
                        </th>
                        <th>
                            <button type="button" class="btn btn-danger">
                                <a href="{{ path("admin-devis-delete", {id:devis.id}) }}" type="button">Supprimer</a>
                            </button>
                        </th>
                    </tr>
                {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
</div>
{% endblock %}