{% extends 'admin/base-admin.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1 class="titre-section-info">Accueil</h1>
<div class="test">
<section class="section-info" id="infos">

        {% for accueilTop in accueilTops %}
    <div class="carte-info">

        <h2>{{accueilTop.Title}}</h2>
        <div class="container-photo-info">
            <img src={{asset('/uploads/picture/' ~ accueilTop.picture)}} alt="photo carouselle">
        </div>
        <p>
            {{accueilTop.Text}}
        </p>
        <div class="btn3">
            <button type="button" class="btn-success">
                <a href="{{ path("admin-accueil-top-create") }}" type="button">Ajouté</a>
            </button>
            <button type="button" class="">
                <a href="{{ path("admin-accueil-top-edit", {id:accueilTop.id}) }}" type="button">Modifier</a>
            </button>
            <button type="button" class="">
                <a href="{{ path("admin-accueil-top-delete", {id:accueilTop.id}) }}" type="button">Supprimer</a>
            </button>
        </div>

    </div>  
            {% endfor %}    
</section>
</div>

{% endblock %}