 {% block body %}	
<nav>
  <a href="{{ path('accueil') }}" class="nav-icon" aria-label="homepage" aria-current="page">
    <img src="{{asset('../photo/Logo.png')}}" alt="chat icon" />
    <span>LeSite</span>
  </a>
  <div class="main-navlinks">
    <button type="button" class="hamburger"  aria-label="Toggle Navigation" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </button>
    <div class="navlinks-container">
      <a class="nav-link active" aria-current="page" href="{{ path('admin-accueil') }}">Accueil</a>
      <a class="nav-link" href="{{ path('admin-article') }}">Article</a>
      <a class="nav-link" href="{{ path('admin-devis') }}">Devis</a>
      <a class="nav-link" href="{{ path('admin-service') }}">Service</a>
      <a class="nav-link" href="{{ path('admin-footer') }}">Contacte</a>
      <a class="nav-link" href="{{ path('admin-user') }}">Inscrit</a>
    </div>
  </div>

</nav>

<img src="/photo/baniereAdmin.png" class="baniere">

{% endblock %}