{% extends 'admin/base-admin.html.twig' %}

{% block title %}Hello FooterAdminController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="titre-section-info">Contacte et pied de page</h1>
    <div class="card-body">
        <div class="table-responsive ">
            <table class="table table-striped-columns">        
                <thead> 
                    <tr>
                        <th>Nom</th>
                        <th>adresse</th>
                        <th>city</th>
                        <th>email</th>
                        <th>phone</th>
                    </tr> 
                </thead>
                <tbody>
                {% for footer in footers %}
                    <tr>
                        <td>{{footer.name}}</td>
                        <td>{{footer.address}}</td>
                        <td>{{footer.city}}</td>
                        <td>{{footer.email}}</td>
                        <td>{{footer.phone}}</td>
                        <th>
                                <a href="{{ path("admin-footer-edit", {id:footer.id}) }}" type="button" class="btn btn-success">Modifier</a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody> 
            </table>
        </div>
    </div>
</div>
{% endblock %}
