{% extends "base.html.twig" %}
{% block stylesheets %}
	<style>
 {% for article in articles %}
	.product-grid{{article.id|raw}}{
		background: url('{{('../uploads/picture/' ~ article.picture)|raw}}');
		background-size: cover;
  		background-position: top center;
  		background-repeat: no-repeat;
  		position: relative;
  		height: 350px;
  		margin-bottom: 20px;
  		-webkit-transition: 0.3s;
  		-o-transition: 0.3s;
  		transition: 0.3s;
	}
{% endfor %}
{% for articleTop in articleTops %}
	.fh5co-cover-sm{{articleTop.id|raw}}{
		background: url('{{('../uploads/picture/' ~ articleTop.picture)|raw}}');
	}
{% endfor %}
	</style>
{% endblock %}
{% block body %}
{% for articleTop in articleTops %}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm{{articleTop.id}}">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
				
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>{{articleTop.title}}</h1>
						<h2>{{articleTop.text}} </h2>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</header>
<div id="fh5co-product">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
			{% for articleCenter in articleCenters %}
				<h2>{{articleCenter.title}}</h2>
				<p>{{articleCenter.text}}</p>
			</div>
			{% endfor %}
		</div>
		
		<div class="row">
		{% for article in articles %}
			<div class="col-md-4 text-center animate-box">
				<div class="product">
					<div class="product-grid{{article.id}}">
					</div>
					<div class="desc">
						<h3><a href="single.html">{{article.Name}}</a></h3>
						<div class="inner">
						<form action="{{ path("article-add") }}" method="post">
							<label>Quantité</label>
							<select name="quantity">
								{% for i  in 1..article.Quantity %}
									<option value="{{i}}">{{i}}</option>
								{% endfor %}
							</select>
							<p>
								<button type="submit" class="icon">
									<input type="hidden" value="{{article.id}}" name="id">
        							<ion-icon name="cart-outline"></ion-icon>
    							</button>
							</p>
						</form>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
	{% include 'footer.html.twig' %}
{% endblock %}