{% block body %}
    
    <footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
				{% for footer in footers %}
					<h3>{{footer.name}}</h3>
					<p>{{footer.address}}<br>
						{{footer.city}}<br>
						{{footer.email}}<br>
						{{footer.phone}}<br>
						{% endfor %}
					</p>
				</div>
				
				

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
					{% if is_granted('ROLE_ADMIN') %}
              			<li><a href="{{ path('admin-accueil') }}">Section Admin</a></li>
					{% endif %}
					{% if app.user %}
						<li><a href="{{ path('app_user') }}">Mon profil</a></li>
						<li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
					{% else %}
						<li><a href="{{ path('app_register') }}">S'inscrire</a></li>
						<li><a href="{{ path('app_login') }}">Se connecter</a></li>
					{% endif %}
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						
					</ul>
				</div>
			</div>

			{#<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://www.facebook.com/secondlifedeco/"><ion-icon name="icon-facebook"></ion-icon></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</div>#}
	</footer>

{% endblock %}