{% extends "base.html.twig" %}
{% block title %}Mon Panier{% endblock %}


{% block body %}
<div class="panier">
<section class="bg-light p-3">
    <h1 class="">Votre panier</h1>
</section>



    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                {% for element in dataPanier %}
                    <td>{{ element.article.Name }}</td>
                    <td>{{ element.quantite }}</td>
                    <td>
                    <form action="{{ path("add") }}" method="post">
                        <input type="hidden" value="{{element.article.id}}" name="id">
                        <input type="hidden" value="1" name="quantity">
						<input type="submit" class="icon" value="+">
                    </form>
                            <ion-icon name="bag-add-outline"></ion-icon>                        
                        </a>
                        <a href="{{path("remove", {id: element.article.id})}}" class="btn btn-warning">
                            <ion-icon name="bag-remove-outline"></ion-icon>
                        </a>
                        <a href="{{path("delete", {id: element.article.id})}}" class="btn btn-danger">
                            <ion-icon name="trash-outline"></ion-icon>
                           
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Votre panier est vide</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="btnPanier">
        <a href="{{ path('devis') }}" class="btn btn-primary">Envoyer le devis</a>
    </div>
</div>

{% include 'footer.html.twig' %}
{% endblock %} 