{% extends 'admin/base-admin.html.twig' %}

{% block title %}Les Articles!{% endblock %}
{% block body %}
<div class="titre-section-info">
    <h1 class="">En-tête Article</h1>
    <a href="{{ path("admin-article-top-create") }}" type="button" class="btn btn-success">Ajouté</a>
</div>
<section class="section-info" id="infos">

        {% for articleTop in articleTops %}
        <div class="carte-info">
            <h2 class="titre-section-info ">{{articleTop.title}} </h2>
            <div class="container-photo-info">
                <img src={{asset('/uploads/picture/' ~ articleTop.picture)}} alt="photo carouselle">
            </div>
            <p>
                {{articleTop.text}} 
            </p>
            <div class="btn3">
                <a href="{{ path("admin-article-top-edit", {id:articleTop.id}) }}" type="button" class="btn btn-primary">Modifier</a>
                <a href="{{ path("admin-article-top-delete") }}" type="button" class="btn btn-danger">Supprimer</a>
            </div>
        {% endfor %}
</section>
    <hr class="featurette-divider">

<div class="titre-section-info">
    <h1 class="">Texte centre de l'article</h1>
    <a href="{{ path("admin-article-center-create") }}" type="button" class="btn btn-success">Ajouté</a>
</div>

<section class="section-info" id="infos">
    {% for articleCenter in articleCenters %}
        <div class="carte-info">
          <h2 class="titre-section-info ">{{articleCenter.title}} <span class="text-muted"></span></h2>
          <p class="lead">{{articleCenter.text}} </p>

            <div class="btn3">
                <a href="{{ path("admin-article-center-edit", {id:articleCenter.id}) }}" type="button" class="btn btn-primary">Modifier</a>
                <a href="{{ path("admin-article-center-delete") }}" type="button" class="btn btn-danger">Supprimer</a>
            </div>
        </div>
    {% endfor %}
</section>
    <hr class="featurette-divider">
<div class="titre-section-info">
    <h1 class="">Les Article</h1>
    <a href="{{ path("admin-article-create") }}" type="button" class="btn btn-success">Ajouté</a>
</div>

    <div class="container">
        <div class="shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped-columns">        
                        <thead> 
                            <tr>
                                <th>Nom</th>
                                <th>Qauntiter</th>
                                <th>Photo</th>
                                <th>Modifier</th>
                                <th>Supprimer</th>
                            </tr> 
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{article.Name}}</td>
                                <td>{{article.Quantity}}</td>
                                <td><img src={{asset('/uploads/picture/' ~ article.picture)}} width="200px"></td>
                                <th>
                                    <a href="{{ path("admin-article-edit", {id:article.id}) }}" type="button" class="btn btn-primary">Modifier</a>
                                </th>
                                <th>
                                    <a href="{{ path("admin-article-delete", {id:article.id}) }}" type="button" class="btn btn-danger">Supprimer</a>
                                </th>
                            </tr>
                        {% endfor %}
                        </tbody> 
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
